<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>  
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" width="50%" height="50%" alt="logo"></div>
        <section>Lugar para poner la barra de búsqueda</section>
        <section>Compra en cuotas y sin tarjeta de crédito</section>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Crer tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h3 id="titulares">Basado en tu útima compra</h3>
            <article><img src="/images/img-cafetera-moulinex.jpg" width="20%" height="20%" alt="Cafetera">
                <p>$6.770<br>40% OFF<br>Cafetera Moulinex</p>
            </article>
            <article><img src="/images/img-macbook-pro-2019.jpg" width="20%" height="20%" alt="Macbook">
                <p>$230.000<br>20% OFF<br>MacBook Pro 2019</p>
            </article>
            <article><img src="/images/img-samsung-galaxy-s10.jpg" width="20%" height="20%" alt="Cafetera">
                <p>$70.500<br>10% OFF<br>Samsung Galaxy S10</p>
            </article>
            <article><img src="/images/img-tv-samsung-smart.jpg" width="20%" height="20%" alt="Cafetera">
                <p>$23.200<br>5% OFF<br>SmartTv Samsung 43"</p>
            </article>

        </section><h3 id="titulares">Ofertas</h3>
        <article><img src="/images/img-cafetera-moulinex.jpg" width="20%" height="20%" alt="Cafetera">
            <p>$6.770<br>40% OFF<br>Cafetera Moulinex</p>
        </article>
        <article><img src="/images/img-macbook-pro-2019.jpg" width="20%" height="20%" alt="Macbook">
            <p>$230.000<br>20% OFF<br>MacBook Pro 2019</p>
        </article>
        <article><img src="/images/img-samsung-galaxy-s10.jpg" width="20%" height="20%" alt="Cafetera">
            <p>$70.500<br>10% OFF<br>Samsung Galaxy S10</p>
        </article>
        <article><img src="/images/img-tv-samsung-smart.jpg" width="20%" height="20%" alt="Cafetera">
            <p>$23.200<br>5% OFF<br>SmartTv Samsung 43"</p>
        </article>
        </section>
    </main>

    <footer>
        <h3>Pago con tarjeta o en efectivo</h3>
        <p class="texto-justificado">Con Mercado Liebre Cash, tenés cuotas sin<br>
            interés con tarjeta o efectivo en puntos de<br>
            pago. ¡Y siempre es seguro!</p>
        
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre<br>
            tenés envíos gratis en miles de productos. Es<br>
            un beneficio de Mercado Puntos
        </p>

        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
            no hay nadaque no puedas hacer porque estás<br>
            siempre protegid@.</p>

        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                   
    </footer>
</body>
</html>
