<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>  
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" width="50%" height="50%" alt="logo" aling="middle"></div>
        <input class="icons1" type="search" name="busqueda" placeholder="Buscar productos, marcas" class="busqueda" size="23" maxlength="23">
        <div class="icons1"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>

        <section class="CC"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</section>
        <nav>
            <ul type="none">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul type="none">
                <li>Crer tu cuenta<i class="fa-solid fa-id-card"></i></li>
                <li>Ingresa<i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="hamburger" class="burger-menu"> 
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>
        <section>
            <h3 class="titulares">Basado en tu útima compra</h3>
        
            <article class="productos" ><img src="/images/img-cafetera-moulinex.jpg" width="20%" height="20%" alt="Cafetera">
            <div class="precios">$6.770</div>
            <div class="dd">40 OFF</div>
            <div class="dd">Cafetera Moulinex</div>
            </article>
       
            <article class="productos"><img src="/images/img-macbook-pro-2019.jpg" width="20%" height="20%" alt="Macbook">
            <div type="none"class="precios">$230.000</div>
            <div class="dd">20% OFF</div>
            <div class="dd">MacBook Pro 2019</div>
            </article>

            <article class="productos"><img src="/images/img-samsung-galaxy-s10.jpg" width="20%" height="20%" alt="Cafetera">
            <div class="precios">$70.500</div>
            <div class="dd">10% OFF</div>
            <div class="dd">Samsung Galaxy S10</div>

            </article>

            <article class="productos"><img src="/images/img-tv-samsung-smart.jpg" width="20%" height="20%" alt="Cafetera">
            <div type="none"class="precios">$23.200</li>
            <div class="dd">5% OFF</div>
            <div class="dd">SmartTv Samsung 43"</div>
            </article>

        </section>
        
        <section>
            <h3 class="titulares">Ofertas</h3>

            <article class="productos"><img src="/images/img-cafetera-moulinex.jpg" width="20%" height="20%" alt="Cafetera">
            <div type="none" class="precios">$6.770</div>
            <div class="dd">40% OFF</div>
            <div class="dd">Cafetera Moulinex</div>
           </article>

           <article class="productos"><img src="/images/img-macbook-pro-2019.jpg" width="20%" height="20%" alt="Macbook">
           <div type="none" class="precios">$230.000</div>
            <div class="dd">20% OFF</div>
            <div class="dd">MacBook Pro 2019</div>
           </article>

           <article class="productos"><img src="/images/img-samsung-galaxy-s10.jpg" width="20%" height="20%" alt="Cafetera">
           <div type="none" class="precios">$70.500</div>
           <div class="dd">10% OFF</div>
           <div class="dd">Samsung Galaxy S10</div>
           </article>

           <article class="productos"><img src="/images/img-tv-samsung-smart.jpg" width="20%" height="20%" alt="Cafetera">
            <div type="none" class="precios">$23.200</div>
            <div class="dd">5% OFF</div>
            <div class="dd">SmartTv Samsung 43"</div>
           </article>

        </section>

    </main>

    <footer>
        <h3 class="productos">Pago con tarjeta o en efectivo</h3>
        <p class="productos">Con Mercado Liebre Cash, tenés cuotas sin<br>
            interés con tarjeta o efectivo en puntos de<br>
        
        <h3 class="productos">Envío gratis desde $ 2.500</h3>
        <p class="productos">Solo por estar registrad@ en Mercado Liebre<br>
            tenés envíos gratis en miles de productos. Es<br>
            un beneficio de Mercado Puntos
        </p>

        <h3 class="productos">Seguridad, de principio a fin</h3>
        <p class="productos">¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
            no hay nadaque no puedas hacer porque estás<br>
            siempre protegid@.</p>

        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                   
    </footer>
</body>
</html>
