* {box-sizing: border-box;}

:root {
    --amarillo:#EAC926;
    --Azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}


body{background-color:var(--amarillo);
    font-family: roboto;
    font-size: 12px;}

main{width:90vw;
background-color: white;}

.titulares {font-size: 24px;
    text-align: center;
    }
.precios{font-size:18px;
width: 8%;}

.desc-desc{font-size: 16px;
width: 40%;}    

.search-box{
    border: solid 1px var(--gris-oscuro);
    margin-left: 1%;
    margin-bottom: .5vw;
}

.lupa{
    background-color: var(--gris-claro);
margin-left: 1%;
border: solid 1px var(--gris-oscuro)}

.cuotas{text-align: center;}


.hamburger{margin-left: 50%;
    background-color: var(--celeste);
    padding: 5px 10px;
    color:white;
    font-size: 24px;
   border-radius: 10%;
}


.footer-text{width: 50%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;}


.footer-icons{margin: auto;
margin-bottom: 10px;
width: 2em;
text-align: center;
font-size: 2em;
color:var(--celeste)}

.articles{margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    border:solid 1px var(--gris-claro);
    padding: 15px;
}



.products{width: 30vw}

.truck{border:solid 1px var(--verde);
    padding: 2px 12px 15px 7px;
    border-radius: 50%;
    color: var(--verde);
    width:8%;

}