:root {
    --amarillo:#EAC926;
    --Azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}


body{background-color:var(--amarillo);
    font-family: roboto;
    font-size: 12px;}

.titulares {font-size: 24px;
    }
.precios{font-size:18px;}

.dd{font-size:16px}

.searchbox{border:black;
}

.lupa{color: red;
}

.button{
    color:black;
    font-size:12px;
    font-weight: bold;
    width: auto;
    height: auto;
    border:black;
    border-radius:1px;
    padding: 1px;

}

.CC{text-align:center;
    font-weight: bold;
}
